#navegador ul{
    list-style-type: none;
    text-align:center;
    
    
}

#navegador li{
    display: inline;
    text-align: center;
    margin: 0 10px 0 0;
    
}

#navegador li a {
    padding: 4px 14px 4px 14px;
    color: #000000;
    background-color: #eeeeee
    border: 1px solid #ccc;
    text-decoration: none;
    
}

#navegador li a:hover {
    background-color: #333333;
    color: #ffffff;

    }

#colorBarra {
  background-color: #A9A9A9;
  padding: 10px;
  
}
