
<html>
<head>
  
<link href="{{ url_for('static', filename='css/cuadroMovil.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
<link href=" {{ url_for('static', filename='css/colorFondo.css') }}"rel="stylesheet" />
<link href=" {{ url_for('static', filename='css/barraNavegacion.css') }}"rel="stylesheet" />

</head>
<body>
 
  <div id="colorBarra">
  
    <div id="navegador">
    <ul>
     <li><a href="/"> Home</a></li>
      <li><a href="/brands"> Brands</a></li>
      <li><a href="/suggestions"> Suggestions</a></li>
      <li><a href="/links"> Websites</a></li>
      
    </ul>
    </div>
  </div>
  <h1>Nokia</h1>
  <hr />
  
    <img src="static/img/lumia1520.jpg"  id="cuadro"  />
     <b>Nokia Lumia </b>
          <ul>
            {% for specs in specs %}
            <li>{{ specs }}</li>
            {% endfor %}
            </ul>
      
     <hr />

      <img src="static/img/lumia625.jpg" id="cuadro" />
        <b>Nokia Lumia 625</b>
     
          <ul>
            {% for specs1 in specs1 %}
            <li>{{ specs1 }}</li>
            {% endfor %}
          
          </ul>
          
      <hr />

       <img src="static/img/lumia830.jpg" id="cuadro" /><b>Nokia Lumia 830</b>
          <ul>
          
            {% for specs2 in specs2 %}
            <li>{{ specs2 }}</li>
            {% endfor %}
          </ul>
          <hr />

       <img src="static/img/nokiax.jpg" id="cuadro" /><b>Nokia X</b>
          <ul>
            {% for specs3 in specs3 %}
            <li>{{ specs3 }}</li>
            {% endfor %}
          </ul>
          <hr />

       <img src="static/img/asha210.jpg" id="cuadro" /><b>Nokia Asha 210</b>
          <ul>
            {% for specs4 in specs4 %}
            <li>{{ specs4 }}</li>
            {% endfor %}
          </ul>
          <hr />

                  
        
    
       
</body>
</html>
