<html>
<head>
  <h1>Samsung</h1>
  
<link href="{{ url_for('static', filename='css/cuadroMovil.css') }}"
rel="stylesheet" />
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
rel="stylesheet" />
</head>
<body>
  <ul>
    <img src="static/img/galaxys7edge.jpg" id="cuadro" />
    <img src="static/img/galaxys6.jpg"  id="cuadro" />
    <img src="static/img/galaxya5.jpg" id="cuadro" />
    <img src="static/img/galaxya3.jpg" id="cuadro" />
    <img src="static/img/galaxyj5.jpg" id="cuadro" />
    <img src="static/img/galaxyj3.jpg" id="cuadro" />
    <ul>
</body>
</html>
