
<html>
<head>
  
<link href="{{ url_for('static', filename='css/cuadroMovil.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
<link href=" {{ url_for('static', filename='css/colorFondo.css') }}"rel="stylesheet" />
<link href=" {{ url_for('static', filename='css/barraNavegacion.css') }}"rel="stylesheet" />

</head>
<body>
 
  <div id="colorBarra">
  
    <div id="navegador">
    <ul>
     <li><a href="/"> Home</a></li>
      <li><a href="/brands"> Brands</a></li>
      <li><a href="/suggestions"> Suggestions</a></li>
      <li><a href="/links"> Websites</a></li>
      
    </ul>
    </div>
  </div>
  <h1>Sony</h1>
  <hr />
  
    <img src="static/img/z5.jpg"  id="cuadro"  />
     <b>Sony Xperia Z5</b>
          <ul>
            {% for specs in specs %}
            <li>{{ specs }}</li>
            {% endfor %}
            </ul>
      
     <hr />

      <img src="static/img/xperiaxperformance.jpg" id="cuadro" />
        <b>Sony Xperia X performance</b>
     
          <ul>
            {% for specs1 in specs1 %}
            <li>{{ specs1 }}</li>
            {% endfor %}
          
          </ul>
          
      <hr />

       <img src="static/img/sonyxz.jpg" id="cuadro" /><b>Sony XZ</b>
          <ul>
          
            {% for specs2 in specs2 %}
            <li>{{ specs2 }}</li>
            {% endfor %}
          </ul>
          <hr />

       <img src="static/img/sonyxcompact.jpg" id="cuadro" /><b>Sony X compact</b>
          <ul>
            {% for specs3 in specs3 %}
            <li>{{ specs3 }}</li>
            {% endfor %}
          </ul>
          <hr />

       <img src="static/img/xperiae5.jpg" id="cuadro" /><b>Sony Xperia E5</b>
          <ul>
            {% for specs4 in specs4 %}
            <li>{{ specs4 }}</li>
            {% endfor %}
          </ul>
          <hr />

       <img src="static/img/m4aqua.jpg" id="cuadro" /><b>Sony M4 Aqua</b>
          <ul>
            {% for specs5 in specs5 %}
            <li>{{ specs5 }}</li>
            {% endfor %}
          
          </ul>
          <hr />
           
        
    
       
</body>
</html>
